<!DOCTYPE html>

<html>
	
	<head>
		
		<title>{{ title }}</title>
		
		<link rel="stylesheet" href="{{ lib }}/bootstrap/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="{{ global }}/css/global.css" type="text/css" />
		<link rel="stylesheet" href="{{ lib }}/jive/jive.css" type="text/css" />
		
		<script type="text/javascript" src="{{ lib }}/modernizr/modernizr.js"> </script>
		
		<script type="text/javascript" src="{{ lib }}/jive/jquery.1.7.1.min.js"> </script>
		<script type="text/javascript" src="{{ lib }}/jive/jive.min.js"> </script>
		
	</head>

	<body>
		
		<div id="container" class="container">
			
			{% block header %}
			<div id="header">
				
				<h1>
					<span id="logo">gus</span>
					<a class="btn btn-success " onclick="$j.msg({content:'It even has JiveJS support!',type:'success'})">
					the web app kickstarter
					</a>
				</h1>
				
			</div>
			{% endblock %}
			
			{% block nav %}
			<div class="navbar navbar-inverse">
				
				<div class="navbar-inner">
	
					<ul class="nav">
						<li><a href="{{ global }}">Home</a></li>
						<li class="divider-vertical"></li>
						<li><a href="{{ global }}/example">Routing Example</a></li>
					</ul>
					
				</div>
				
			</div>
			{% endblock %}
 	
			<div id="route-container">
			{% if route_template %}
				{% include route_template %}
			{% endif %}
			</div>
			
			{% block footer %}
			<div id="footer">
				<p>Hey, I'm a footer. Yolo!</p> 	
			</div>
			{% endblock %}
		
		</div>

	</body>
	
</html>